body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#lightblue;
    padding:20px;
}

header{
    margin-bottom:30px;
}

img{
    width:150px;
    height:150px;
    border-radius:50%;
}

section{
    background:lightblue;
    margin:20px auto;
    padding:20px;
    max-width:600px;
    border-radius:10px;
}

a{
    text-decoration:none;
    color:blue;
}

.darkmode2{
    background-color:black;
    color:white;
}
